@import url('../duepuntozero/style.css');

/* paper theme by tony baldwin https://free-haven.org/u/tony  */

a:link, a:visited { color: #444; text-decoration: underline; }
a:hover {text-decoration: none; }

input, select, textarea {
	background-color: #ffffff;
	color: #000000 !important;
	border: 1px solid #000000;
}
.openid { background-color: #ffffff;}

body { 	background-color: #ffffff; color: #000000; 
	background-image: url("parchment.jpg");background-repeat: repeat;background-attachment:fixed;	
	font-family:"Times New Roman", Times, serif;font-size:14px; margin: auto; width: 1400px;}
aside{ 	background-image: none; padding-bottom: 0px; color:#000!important; }
section { background-color: #ffffff; color: #000!important; background-image: none;min-height:500px;}
#panel { background-color: #ffffff !important;}

.tabs {	background-image: none; background-color: #eee; }
div.wall-item-content-wrapper.shiny {  background-image: none; }

nav #banner #logo-text a { color: #000; }
nav .nav-link {
	float: right;
	margin: 0.2em 0em;
	padding: 0em 0.5em;
}

.wall-item-content {
	max-height: 20000px;
	overflow: none;
}

.wall-item-content-wrapper { 
	border: 1px solid #ffffff; 
	background: #ffffff;  
}
.wall-item-outside-wrapper.threaded > .wall-item-content-wrapper {
	-moz-border-radius: 3px 3px 0px;
	border-radius: 3px 3px 0px;	
}
.wall-item-tools {	background-color: #ffffff;   background-image: none;}
.comment-wwedit-wrapper{
	background-color: #ffffff;
}
.comment-wwedit-wrapper.threaded {
	border: solid #444;
	border-width: 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 3px 3px;	
}
.editicon {
    	background-color: #fff;
}
.comment-edit-preview{ color: #111; }
.wall-item-content-wrapper.comment { background-color: #ffffff; border: 0px;}
.photo-top-album-name{ background-color: #ffffff; }
.photo-album-image-wrapper .caption { background-color: rgba(51, 51, 51, 0.8); color: #000000; }

.nav-selected.nav-link { color: #444444!important; border-bottom: 4px}
.nav-commlink, .nav-login-link {background-color: #fff;}
.nav-commlink:link, .nav-commlink:visited,
.nav-login-link:link, .nav-login-link:visited{
	color: #444444;
}

.fakelink, .fakelink:visited {
	color: #444;
}

.wall-item-name-link {
	color: #444;
}

.wall-item-photo-menu li a, .contact-photo-menu {
	color: #444444; background-color: #ffffff;
}

.wall-item-photo-menu li a:hover {
	background-color: #444444; color: #ffffff;
}

code {
  font-family: Helvetica;
  background:#eee !important;
  color:#111 !important;
}

blockquote {
  background:#eee !important;
  color:#333 !important;
}


#page-footer { min-height: 1em;}
footer {
	margin: 0px 10%;
	display: block;
	height: 25px;	
}


input#dfrn-url {
	background-color: #ffffff;
	color: #000000 !important;
}
.pager_first a, .pager_last a, .pager_prev a, .pager_next a, .pager_n a, .pager_current {
    color: #000088;
}

#jot-perms-icon {
	float: left;
}


#jot-title, #jot-category {
	background-color: #333333;
	border: 1px solid #333333;
}

#jot-title::-webkit-input-placeholder{ color: #555555!important;}
#jot-title:-moz-placeholder{color: #555555!important;}
#jot-category::-webkit-input-placeholder{ color: #555555!important;}
#jot-category:-moz-placeholder{color: #555555!important;}
		
	
#jot-title:hover,
#jot-title:focus,
#jot-category:hover,
#jot-category:focus {
	border: 1px solid #cccccc; 
}

.acl-list-item p, #profile-jot-email-label, div#jot-preview-content, div.profile-jot-net {
        color: #eec;
}
#fancybox-content{
  background:#fff;
}

input#acl-search {
        background-color: #aaa;
}


.notify-seen {
  background:#111;
}

#nav-notifications-menu {
  background: #eee;
}

#nav-notifications-menu li:hover {
  background: #fff;
}

.acpopupitem{
  background:#2e2f2e;
}

.group-selected, .nets-selected, .fileas-selected, .categories-selected{
  background:#2e2f2e;
}

/* Events */

.fc-state-highlight {
background: #666 !important;
}

.fc-state-disabled, .fc-state-disabled .fc-button-inner {
color: #000 !important;
}

/*Admin page */

#adminpage table tr:hover {
    color: #eec;
    background-color: #666;
}

.settings-widget .selected {
background: #666;
}


/* Stuff that doesn't seem to fit with anything else */

#datebrowse-sidebar select {
color:#111 !important;
}

input#prvmail-subject {
background: #222 !important;
}
