@import url('../duepuntozero/style.css');

a:link, a:visited { color: #ee0400; text-decoration: none; }
a:hover {background-color: #111; color: #ee0000; text-decoration: none;}

input, select, textarea {
	background-color: #222222;
	color: #FFFFFF !important;
	border: 1px solid #444444;
}
.openid { background-color: #222222;}

body { 	background-color: #222222; color: #cccccc; background-image: url(spacetile.jpg); background-repeat: repeat; background-attachment: fixed;}
aside{ 	background-image: url(border.jpg); padding-bottom: 0px; }
section { background-color: #333333;background-image: url(spacetile.jpg); background-repeat:repeat;background-attachment: fixed; min-height: 1000px; }

img {border: 5px; border-color: #222;}
div.vcard { background-color: #333333; background-image: url(ddstar.jpg); background-repeat:repeat; moz-border-radius: 10px; border-radius: 10px; webkit_border-radius: 10px;}
div.items-wrapper{ background-color: #333333; background-image: url(ddstar.jpg); background-repeat:repeat; moz-border-radius: 10px; border-radius: 10px; webkit_border-radius: 10px;}
div.profile-extra-links { background-color: #333333; background-image: url(ddstar.jpg); background-repeat:repeat; moz-border-radius: 10px; border-radius: 10px; webkit_border-radius: 10px;}
.ul#like {background-color: #333; background-image: none;}

.tabs {	background-image: url(metallic.jpg); }
div.wall-item-content-wrapper.shiny {  background-image: url('shiny.png'); }

nav #banner #logo-text a { color: #fff; }

.wall-item-content-wrapper { 
border: 1px solid #444444; 
background: #111;  
background-image: url('metallic.jpg'); 
background-repeat: repeat; 
}
.wall-item-tools { background-color: #444444; background-image: url('metallic.jpg');}
.comment-wwedit-wrapper{ background-color: #333333; background-image: url(ddstar.jpg); background-repeat: repeat; }
.comment-edit-preview{ color: #000000; }
.wall-item-content-wrapper.comment { background-color: #444444; border: 0px; background-image: url(metallic.jpg); background-repeat: repeat;}
.photo-top-album-name{ background-color: #333333; }
.photo-album-image-wrapper .caption { background-color: rgba(51, 51, 51, 0.8); color: #FFFFFF; }

.nav-selected.nav-link { color: #ffffff!important; border-bottom: 0px}
.nav-commlink, .nav-login-link {background-color: #b7bab3;}
.nav-commlink:link, .nav-commlink:visited,
.nav-login-link:link, .nav-login-link:visited {
	color: #ffffff;
}

.fakelink, .fakelink:visited {
	color: #990000;
}

.wall-item-name-link {
	color: #990000;
}

.wall-item-photo-menu li a, .contact-photo-menu {
	color: #CCCCCC; background-color: #333333;
}

.wall-item-photo-menu li a:hover {
	background-color: #CCCCCC; color: #333333;
}
#page-footer { min-height: 1em;}
footer {
	clear: both;
	margin: 0px 10%;
	display: block;
	background-image: none;
	background-position: top left;
	background-repeat: repeat-x;
	height: 25px;	
}

#dfrn-request-link {
	display: block;
	color: #FFFFFF;
	-webkit-border-radius: 5px ;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
	font-weight: bold;
	background: #990000 url('friendica-16.png') no-repeat 95% center;
}


input#dfrn-url {
	background-color: #222222;
	color: #FFFFFF !important;
}
.pager_first a, .pager_last a, .pager_prev a, .pager_next a, .pager_n a, .pager_current {
    color: #000088;
}

#jot-perms-icon {
	float: left;
}


#jot-title, #jot-category {
	background-color: #333333;
	border: 1px solid #333333; 
}

#jot-title::-webkit-input-placeholder{color: #555555!important;}
#jot-title:-moz-placeholder{color: #555555!important;}
#jot-category::-webkit-input-placeholder{ color: #555555!important;}
#jot-category:-moz-placeholder{color: #555555!important;}
		
	
#jot-title:hover,
#jot-title:focus,
#jot-category:hover,
#jot-category:focus {
	border: 1px solid #cccccc; 
}
blockquote {
	background: #ddd;
	color: #000;
}

.acl-list-item p, #profile-jot-email-label, div#jot-preview-content, div.profile-jot-net {
        color: #eec;
}

input#acl-search {
        background-color: #aaa;
}



.notify-seen {
  background:#111;
}

#nav-notifications-menu {
  background: #2e2e2f;
}

#nav-notifications-menu li:hover {
  background: #444;
}

.acpopupitem{
  background:#2e2f2e;
}

code {
  background:#2e2f2e !important;
  color:#fff !important;
}

blockquote {
  background:#2e2f2e !important;
  color:#eec !important;
}

.group-selected, .nets-selected, .fileas-selected, .categories-selected {
  background:#2e2f2e;
}

#fancybox-content{
  background:#444;
}

.wall-item-content {
	max-height: 20000px;
	overflow: none;
}

.editicon {
	background-color: #333;
}

#datebrowse-sidebar select {
color:#990000 !important;
}

.settings-widget .selected {
background: #666;
}

#adminpage table tr:hover {
    color: #eec;
    background-color: #666;
}

input#prvmail-subject {
background: #222 !important;
}

/* Events */

.fc-state-highlight {
background: #666 !important;
}
 
.fc-state-disabled, .fc-state-disabled .fc-button-inner {
color: #000 !important;
}
